.app-wrapper {
  display: grid;

  grid-template-areas: 
  "h h "
  "n c ";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  
}

/* header {
  grid-area: h;
  background-color: #b64cad;
} */
/* 
header img {
  width: 20px;
}
   */


/* .navBar {
  grid-area: n;
  background-color: #92b935;
} */

/* .content {
  grid-area: c;
  background-color: #32a189;
} */

/* .content img {
  width: 800px;
} */